*{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alegreya SC', serif;
}

/* landing page */
.container{
    background-image: url(./imgs/drew-coffman-1872.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    background-color: #3030309d;
    
}
.logo {
        display: inline-block;
        width: 35%;
        text-align: center;
        margin-top: 30px;
    }

.logo img{
    width: 35%;
}
.links{
    display: inline-block;
    list-style: none;
    vertical-align: top;
    width: 60%;
    text-align: center;
    margin-top: 40px ;
}
.links li{
        display: inline-block;
        width: 100px;
}

.links li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.landing-content{
    margin-top: 200px;
    color: #fff;
    text-align: center;
}
.landing-content .wlc-p{
        font-size: 22px;
        margin-bottom: 20px;
}
.landing-content .scnd-p{
        font-size: 24px;
        margin-bottom: 30px;
        
        margin-top: 20px;
}
.landing-content h1{
    font-size: 60px;
}
.landing-content .f-btn {
    text-decoration: none;
        color: #fff;
        background-color: #8E7754;
        display: inline-block;
        padding: 15px 28px;
        border: 2px solid transparent;
        border-radius: 5px;
        margin-right: 8px;
}
.landing-content .scnd-btn{
    text-decoration: none;
        color: #fff;
        background-color: transparent;
        display: inline-block;
        padding: 15px 28px;
        border: 2px solid #fff;
        border-radius: 5px;
        margin-left: 8px;
}

.animation{
        width: 30px;
            height: 55px;
            border: 2px solid #fff;
            margin: auto;
            margin-top: 60px;
            border-radius: 14px;
}


/* section one */
.section-1{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.sec1-img{
    display: inline-block;
    width: 45%;
}
.sec1-img img{  
    width: 100%;
}
.sec1-content{
    display: inline-block;
    width: 45%;
    margin-left: 100px;
    vertical-align: top;
    margin-top: 50px;
    
}

.sec1-content-upper h2{
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
}
.sec1-content-upper p{
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    line-height: 1.6;
}

.sec1-content-lower {
    list-style: none;
    margin-top: 50px;
}
.sec1-content-lower li{
    margin-bottom: 10px;
}
.sec1-content-lower li img{
    width: 42px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #a39e94;
    border-radius: 50%;
}
.sec1-content-lower li span{
    width: 42px;
}

/* section 2  */
.sec2-container{
    width: 100%;
    background-color: #F8F8F8;
    padding: 50px 0;
    margin: 50px 0;
}
.section-2{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    
}
.sec2-cont{
    display: inline-block;
    width: 45%;
    margin-right: 100px;
    vertical-align: top;
    margin-top: 100px;
}
.sec2-cont h2{
    font-size: 32px;
    color: #303030;
    font-weight: 400;      
    margin-bottom: 25px;
}
.sec2-cont p{
    font-size: 17px;
    font-weight: 400;
    color: #686868;
}
.sec2-cont .last-p{
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    margin-top: 25px;
}
.sec2-img{
    display: inline-block;
    width: 45%;
}
.sec2-img img{
    width: 100%;
}


/* sec3 */

.sec3-container{
    width: 80%;
    margin: auto ;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sec3-head{
    text-align: center;
    margin-bottom: 60px;
}

.sec3-head h2{
    margin-bottom: 15px;
}
.sec3-head {
    color: #686868;
}

.cards{
    width: 100%;
    
}
.card{
    width: 33.33%;
    text-align: center;
    float: left;
}
.clr{
    clear: both;
}
.card img{
    width: 90%;
}
.card h3{
    margin: 15px 0;
}
.card p{
font-weight: 400;
    color: #686868;
}


/* sec4 */

.sec4-container{
    width: 100%;
    background-color: #F8F8F8;
    padding: 40px 0;
    margin: 50px 0;
}
.parent{
    width: 80% ;
    margin: auto;
}

.contact-info{
    width: 50%;
    float: left;
}
.contact-info h2{
    margin-bottom: 20px;
}
.contact-info p{
color: #686868;
}

.contact-info .scnd-para{
margin: 40px 0;
}

.contact-info .contact-list{
    list-style: none;
}
.contact-info .contact-list li{
margin-top: 10px;
}
.contact-info .contact-list li img{
    width: 45px;
        background-color: #8E7754;
        border-radius: 50%;
        margin-right: 10px;
}
.contact-info .contact-list li span{
    vertical-align: top;
    color: #686868;
    margin-top: 10px;
    display: inline-block;
}
.contact-info .contact-list li a{
    vertical-align: top;
    text-decoration: none;
    color: #686868;
    display: inline-block;
    margin-top: 10px;
}
.the-frame{
    float: left;
}


/* footer */

.footer{
    width: 100%;
    background-color: #403D38;
    padding: 50px 0;
}

.footer-parent{
    width: 80%;
    margin: auto;
}

.foot-about{
    float: left;
    width: 25%;
}
.foot-about h3{
margin-bottom: 20px;
    color: #fff;
}
.foot-about p{
color: #686868;
}
.foot-about .foot-about-lastp{
color: #686868;
    margin-top: 30px;
}

.special{
    float: left;
    width: 25%;
    text-align: left;
}
.special h3{
    margin-bottom: 20px;
        color: #fff;
}
.special ul{
list-style: none;
width: 90%;
}
.special ul li{
    border-bottom: 1px solid #686868;
    color: #686868;
        margin-bottom: 15px;
}
.special ul li img{
    width: 20px;
}
.special ul li span{
    vertical-align: top;
}

.opening{
    width: 25%;
    float: left;
    
}
.opening h3{
    margin-bottom: 20px;
        color: #fff;
    
}
.opening ul{
    list-style: none;
    width: 90%;
}
.opening ul li{
border-bottom: 1px solid #686868;
    color: #686868;
    margin-bottom: 15px;
}
.opening ul li img{
width: 20px;
}
.opening ul li span{
    vertical-align: top;
}

.footer-contact{
    width: 25%;
    float: left;
    background-image: url(./imgs/contact-details-map.png);
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;    
}
.footer-contact h3{
margin-bottom: 20px;
    color: #fff;
}
.footer-contact ul{
 list-style: none;
 width: 90%;
}
.footer-contact ul li{
border-bottom: 1px solid #686868;
    color: #686868;
    margin-bottom: 15px;
}
.footer-contact ul li img{
            width: 23px;
            vertical-align: middle;
}
.footer-contact ul li span{
vertical-align: middle;
}
.footer-contact ul li a{
text-decoration: none;
color: #686868;
}

.last-footer{
    background-color: #353330;
    padding: 50px 0;
}
.last-footer-content{
    text-align: center;
}
.last-footer-content img{
    
}
.last-footer-content p{
    margin: 20px 0;
    color: #686868;
}


.last-footer a img{
        width: 45px;
            background-color: #403D38;
            border-radius: 50%;
            margin-right: 5px;
}

